body {
    background-image: url("octagon.jpg");
    text-align: center;
}

.scoretimer {
    background-color: white;
    font-weight: bolder;
    font-size: 20px;
    padding: 7px;
}
  

h1 {
    font-weight: bolder;
}

.hide {
    display: none;
}
  
#intro {
    margin-top: 50px;
}

#quiz {
    margin-top: 50px;
}

.background {
    background-color: white;
    padding: 30px;
}

button {
    background-color: #000bbf;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #2734FF;
    color: white;
  }
  