body {
    background-image: url("octagon.jpg");
    text-align: center;
}

.scoretimer {
    margin-top: 50px;
    background-color: white;
    font-weight: bolder;
    font-size: 20px;
    padding: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #000bbf;
}
  

h1 {
    font-weight: bolder;
    margin-bottom: 10px;
}

h2 {
    font-weight: bolder;
}

.hide {
    display: none;
}
  
#intro {
    margin-top: 40px;
}

#quiz {
    margin-top: 40px;
}

#gameover {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, .8);
    padding: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #000bbf;
}

#scores {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, .8);
    padding: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #000bbf;
    text-align: center;
}

.background {
    background-color: rgba(255, 255, 255, .8);
    padding: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #000bbf;
}

button {
    background-color: #000bbf;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 16px;
    margin-right: 4px;
    margin-left: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #2734FF;
    color: white;
  }
  