body {
    background-image: url("octagon.jpg");
    text-align: center;
}

.scoretimer {
    background-color: white;
}
  

h1 {
    font-weight: bolder;
}

.hide {
    display: none;
}
  
#intro {
    margin-top: 50px;
}

#quiz {
    margin-top: 50px;
}

.background {
    background-color: white;
}